*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #ccc;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;

    input{        
        height: 40px;
        padding: 0 10px;
    }

    #guess{
        font-size: 2rem;
        color: black;
    }

    #subt{
        background-color: black;
        color: white;
        border: none;
        font-size: 1.2rem;
    }
}

.resultParas{
    text-align: center;
}