body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88vh;
    font-family: sans-serif;
}

h1 {
    font-size: 4rem;
}

span {
    color: brown;
    display: inline-flex;
    align-items: center;
}

span::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 55px;
    background-color: brown;
    margin-left: 4px;
}